Fruitday.xcodeproj/xcuserdata/Henry.xcuserdatad/xcschemes/Fruitday.xcscheme
Fruitday.xcodeproj/xcuserdata/Henry.xcuserdatad/xcschemes/xcschememanagement.plist
Fruitday.xcworkspace/xcuserdata/Henry.xcuserdatad/UserInterfaceState.xcuserstate
Pods/Pods.xcodeproj/xcuserdata/Henry.xcuserdatad/xcschemes/Pods-AFNetworking.xcscheme
Pods/Pods.xcodeproj/xcuserdata/Henry.xcuserdatad/xcschemes/Pods-BBBadgeBarButtonItem.xcscheme
Pods/Pods.xcodeproj/xcuserdata/Henry.xcuserdatad/xcschemes/Pods-DACircularProgress.xcscheme
Pods/Pods.xcodeproj/xcuserdata/Henry.xcuserdatad/xcschemes/Pods-JSONModel.xcscheme
Pods/Pods.xcodeproj/xcuserdata/Henry.xcuserdatad/xcschemes/Pods-KVOController.xcscheme
Pods/Pods.xcodeproj/xcuserdata/Henry.xcuserdatad/xcschemes/Pods-Masonry.xcscheme
Pods/Pods.xcodeproj/xcuserdata/Henry.xcuserdatad/xcschemes/Pods-MBProgressHUD.xcscheme
Pods/Pods.xcodeproj/xcuserdata/Henry.xcuserdatad/xcschemes/Pods-MWPhotoBrowser.xcscheme
Pods/Pods.xcodeproj/xcuserdata/Henry.xcuserdatad/xcschemes/Pods-pop.xcscheme
Pods/Pods.xcodeproj/xcuserdata/Henry.xcuserdatad/xcschemes/Pods-PSTCollectionView.xcscheme
Pods/Pods.xcodeproj/xcuserdata/Henry.xcuserdatad/xcschemes/Pods-SDWebImage.xcscheme
Pods/Pods.xcodeproj/xcuserdata/Henry.xcuserdatad/xcschemes/Pods.xcscheme
Pods/Pods.xcodeproj/xcuserdata/Henry.xcuserdatad/xcschemes/xcschememanagement.plist

# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
!default.xcworkspace
xcuserdata
xcscheme
profile
*.moved-aside
DerivedData
.idea/
UserInterfaceState.xcuserstate
Breakpoints_v2.xcbkptlist
xcschememanagement.plist
codeInvincible.h
symbols